<%- include('header') %>
<link rel="stylesheet" href="../css/admin-panel.min.css">

<body class="waitMe_body">
      <div class="waitMe_container progress" style="background:#fff">
        <div style="background:#000"></div>
  
        <%- include('navbar') %>

    <!-- Go to Unverified Profile  -->
    <div class="unverified-profile" data-placement="right" data-toggle="tooltip" title="Unverified Profile Available!">
      <span id="close-icon" class="fa fa-exclamation-circle text-danger"></span>
    </div>

    <!-- Announcemnt Icon  -->
    <form action="#" method="post">
      <div class="announcement">
        <span class="fa fa-close" id="close-announcement"></span>
        <span class="fa fa-bullhorn" data-placement="right" data-toggle="tooltip" title="Announcemnt" id="announcement"></span>
        <textarea type="text" id="send-announcement" class="btn btn-primary">Announcement :
  Enter your message here...
        </textarea>
        <button type="submit" id="submit-msg">
          <span class="fa fa-envelope"></span>
        </button>
      </div>
    </form>

    <!-- pdf Icon  -->
    <form action="#" method="post">
      <div class="pdf" data-placement="right" data-toggle="tooltip" title="Generate PDF">
        <span id="close-pdf" class="fa fa-close"></span>
        <span class="fa fa-file-pdf-o" id="pdf"></span>
        <input type="number" placeholder="Enter the year" id="send" class="btn btn-primary">
        <button type="submit" id="submit-pdf">
          <span class="fa fa-send" id="fa-send"></span>
        </button>
      </div>
    </form>

    <%- include('footer') %>