<%- include('header') %>

  <body>
    <div class="container-fluid">
      <div class="row">
        <main role="main" class="col-md-11 mx-auto ml-sm-auto col-lg-10">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Dashboard</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
              <div class="btn-group mr-2">
                <button class="btn btn-sm btn-outline-secondary">Share</button>
                <button class="btn btn-sm btn-outline-secondary">Export</button>
              </div>
              <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
                <span data-feather="calendar"></span>
                This week
              </button>
            </div>
          </div>

          <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th>Id</th>
                  <th>Name</th>
                  <th>Mobile</th>
                  <th>Age</th>
                  <th>Address</th>
                  <th>Symtom Name</th>
                  <th>Days</th>
                  <th>Tablets</th>
                  <th>Hospital Checking</th>
                  <th>Name of Hospital</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><%= name %></td>
                  <td><%= mobile %></td>
                  <td></td>
                  <td>dolor</td>
                  <td>sit</td>
                  <td>osmethin</td>
                </tr>
              </tbody>
            </table>
          </div>
        </main>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%- include('footer') %>
  </body>
</html>
