<!-- Chat application  -->
<button id="chat-open" class="btn btn-danger">
    <span class="fa fa-snapchat-ghost"></span>
  </button>
  <div id="chat">
      <h1 class="text-center text-capitalize py-3 text-danger">
        <button class="btn btn-danger-outline" id="chat-close"><span class="fa fa-arrow-right"></span></button>
        Chat Box
      </h1>
      <div class="chat-messages"></div>
      
      <form id="msg-form">
          <div class="input-box">
              <input type="text" id="msg" name="msg">
              <button type="submit" class="btn btn-danger"><span class="fa fa-send"></span></button>
          </div>
      </form>
  </div>