<%- include("header") %>
  <body>
    
    <%- include('navbar') %>

    <!-- Showcase slideshow -->
    <section id="home"></section>

    <h1 class="section-title wow zoomIn">Keep Clean and Care</h1>
    <section id="symptoms">
      <img src="../img/Icon-images/protection/protection01.png" alt="" class="wow slideInLeft" data-wow-duration="2s">
      <img src="../img/Icon-images/protection/protection02.png" alt="" class="wow slideInLeft" data-wow-duration="2s">
      <img src="../img/Icon-images/protection/protection03.png" alt="" class="wow bounceInUp" data-wow-duration="2s">
      <img src="../img/Icon-images/protection/protection04.png" alt="" class="wow slideInRight" data-wow-duration="2s">
      <img src="../img/Icon-images/protection/protection05.png" alt="" class="wow slideInRight" data-wow-duration="2s">
    </section>

    <section id="advice">
      <div class="left-side wow slideInLeft" >
        <img src="../img/Icon-images/doctor check.png" alt="">
        <h3>Doctor Advice</h3>
      </div>

      <div class="right-side wow slideInRight">
        <p>Practice <span class="highlight">frequently</span> handwashing with soap</p>
        <p><span class="highlight">Cover your nose </span>and mouth with tissue/handkerchief while sneezing and coughing</p>
        <p><span class="highlight">Isolate</span> yourself from others</p>
      </div>
    </section>
    <section id="fund"></section>
    <section id="articals"></section>
    <section id="about"></section>

    <footer>
      <div class="foo-1">
        <a href="#">
          <img src="../img/logo parts/logo.png" alt="" />
          <span>DHelp</span>
        </a>

        <div class="social">
          <a href="#">
            <img src="../img/social/icon-facebook.svg" alt="" />
          </a>
          <a href="#">
            <img src="../img/social/icon-instagram.svg" alt="" />
          </a>
          <a href="#">
            <img src="../img/social/icon-pinterest.svg" alt="" />
          </a>
          <a href="#">
            <img src="../img/social/icon-twitter.svg" alt="" />
          </a>
          <a href="#">
            <img src="../img/social/icon-youtube.svg" alt="" />
          </a>
        </div>
      </div>

      <div class="foo-2">
        <div>
          <a href="#">About us</a>
          <a href="#">Contact</a>
          <a href="#">News</a>
        </div>
        <div>
          <a href="#">Articles</a>
          <a href="#">Support</a>
          <a href="#">Privacy Policy</a>
        </div>
      </div>

      <div class="foo-3">
        <button class="invite">GET HELP</button>
        <p>&copy;DHelp. All Rights Reserved</p>
      </div>
    </footer>
    
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <%- include('footer') %>
    <script>
      $(function() {
        // Slide show customization 
        $('#home').slideWiz({
          auto: true,
          speed: 5000,
          row: 12,
          col: 35,
          animation: [
              // 'flip',
              // 'slice',
              // 'box3D',
              // 'pixel',
              // 'fade',
              // 'glide',
              'card'
          ],
          file: [
              {
                  src: {
                      main: "../img/icon-images/hand-wash/hand-wash01.png",
                      cover: "../img/slides/slide-1.jpg"
                  },
                  title: 'Don\'t worry',
                  desc: "1: slideWiz is a JQuery based library created by a Nigerian Software " +
                  "Engineer by the name 'Wisdom Emenike' who at the time of writing this library " +
                  "works at Imaxinacion Technology, one of Nigeria's leading IT companies.",
                  descLength: 220,
                  button: {
                      text: 'Be confident',
                      url: false,
                      class: 'btn btn-medium btn-primary'
                  }
              },
              {
                  src: {
                      main: "../img/icon-images/hand-wash/hand-wash02.png",
                      cover: "../img/slides/slide-2.jpg"
                  },
                  title: 'Doctor Advice',
                  desc: "2: slideWiz is a JQuery based library created by a Nigerian Software " +
                  "Engineer by the name 'Wisdom Emenike' who at the time of writing this library " +
                  "works at Imaxinacion Technology, one of Nigeria's leading IT companies.",
                  button: {
                      text: 'Know More',
                      url: false,
                      class: 'btn btn-medium btn-primary'
                  }
              },
              {
                  src: {
                      main: "../img/icon-images/hand-wash/hand-wash03.png",
                      cover: "../img/slides/slide-6.jpg"
                  },
                  title: 'Wear Mask',
                  desc: "3: slideWiz is a JQuery based library created by a Nigerian Software " +
                  "Engineer by the name 'Wisdom Emenike' who at the time of writing this library " +
                  "works at Imaxinacion Technology, one of Nigeria's leading IT companies.",
                  descLength: 190,
                  button: {
                      text: 'View Procedure',
                      url: false,
                      class: 'btn btn-medium btn-primary'
                  }
              },
              {
                  src: {
                      main: "../img/icon-images/hand-wash/hand-wash04.png",
                      cover: "../img/slides/slide-11.jpg"
                  },
                  title: 'Repeate Handwash',
                  desc: "4: slideWiz is a JQuery based library created by a Nigerian Software " +
                  "Engineer by the name 'Wisdom Emenike' who at the time of writing this library " +
                  "works at Imaxinacion Technology, one of Nigeria's leading IT companies.",
                  button: {
                      text: 'Know More',
                      url: false,
                      class: 'btn btn-medium btn-primary'
                  }
              }
          ]

      });
      });
    </script>

      <script>

      </script>

  </body>
</html>
