<div id="showcase">
    <!-- Close button  -->
    <a  role="button" class="closeBtn" onclick="closeNav()">&times;</a>
    <!-- Opan Nav  -->
    <a role="button" class="openBtn">
      <span onclick="openNav()">&#9776;</span>
    </a>

    <div id="header" class="sideNav">
      <a href="/" class="brand">
        <img width="50px" src="../img/logo parts/logo.png" alt="" />
        <span>DHelp</span>
      </a>
      <div class="nav-links">
        <a href="/">Home</a>
        <a href="#statistics">statistics</a>
        <a href="#what">What</a>
        <a href="#prevention">Prevention</a>
        <a href="#fund">Fund Help</a>
        <a href="#articals">Articals</a>
        <a href="#about">About</a>
        <a href="/user/signup">Signup</a>
        <div class="dropdown">
          <a class="dropbtn">
            Login
            <span class="fa fa-caret-down"></span>
          </a>
          <div class="dropdown-content">
            <a href="/user/login">User</a>
            <a href="/admin/login">Admin</a>
          </div>
        </div>
      </div>
      </div>

    </div>
  </div>